RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$l [L]

RedirectMatch 403 ^/music/?$
RedirectMatch 403 ^/core/?$
RedirectMatch 403 ^/images/?$
RedirectMatch 403 ^/security/?$
RedirectMatch 403 ^/vendor/?$
RedirectMatch 403 ^/app/?$
RedirectMatch 403 ^/.idea/?$
RedirectMatch 403 ^/.vscode/?$